{% extends 'layout.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<h1>This is the admin page</h1>
<div>
    You can manage the database here
</div>
<div class="dropdown">
  <button class="dropbtn">Employees</button>
  <div class="dropdown-content">
    <a href="/employee_view">View all employees</a>
    <a href="/employee_customers">Employee Customer View</a>
    <a href="/employee_inventory">Employee Inventory View</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn">Customers</button>
    <div class="dropdown-content">
        <a href="/customer_inventory">Customer Inventory View</a>
        <a href="/customer_orders">Customer Orders View</a>
    </div>
</div>
<div class="dropdown">
  <button class="dropbtn">Vendors</button>
    <div class="dropdown-content">
        <a href="/vendor_inventory">Vendor Inventory View</a>
        <a href="/vendor_orders">Vendor Orders View</a>
    </div>
</div>
<div>
    {{ render_form(reset_form) }}
</div>
<div>
    {{ render_form(populate_form) }}
</div>
{% endblock %}


