{% extends 'layout.html' %}
{% from 'bootstrap5/form.html' import render_form %}


{% block content %}
<h1>Inventory</h1>
<div>
    {{ render_form(form) }}

    {% if inventory and count > 0 %}
    <table class="table">
        <thead>
        <tr>
            <th>Item ID </th>
            <th>Item Name </th>
            <th>Quantity </th>
            <th>Vendor ID </th>
            <th>Price </th>
        </tr>
        </thead>
        <tbody>
        {% for Item in inventory %}
        <tr>
            <td>{{ Item.Item_id }}</td>
            <td>{{ Item.Item_name }}</td>
            <td>{{ Item.Quantity }}</td>
            <td>{{ Item.Vendor_id }}</td>
            <td>{{ Item.Price }}</td>
        <tr>
        {% endfor %}
        </tbody>
    </table>
    {% elif count == 0 %}
    <p>No items found</p>
    {% endif %}
</div>
<a href='/employee'>Back</a>
{% endblock %}